input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
input[type=text]:focus {
  background-color: rgb(243, 243, 243);
  border: 1px solid #555;
}
::-webkit-input-placeholder  { 
  color:rgb(121, 121, 121);
  
  }
input:-moz-placeholder { color:rgb(121, 121, 121); }

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}
 