/*
 * 
 * Modules > Variables
 * 
 */
.button {
  background: transparent;
  border: 1px solid #eee;
  color: #777777;
  border-radius: 40px;
  line-height: 70px;
  padding: 12px 28px;
  text-decoration: none; }
  .button--support {
    color: white;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 20px; }
  .button--active {
    background: #8460f6;
    border: 1px solid #8460f6;
    color: white; }

body {
  background: #fff; }

.logo-image {
  padding: 18px; }

.header {
  background: url(../img/banner-bg.jpg) no-repeat center center/cover;
  height: 70vh;
  display: block; }
  .header h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px; }
  .header p {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px; }

@media (min-width: 992px) {
  .header {
    height: 100vh; }
    .header h1 {
      font-size: 60px;
      font-weight: 100;
      margin-bottom: 20px; } }

.history-area {
  padding: 100px 0;
  background: #f2f5f7; }

.history-title {
  text-align: center; }
  .history-title h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px; }
  .history-title p {
    font-size: 16px;
    color: #777777; }

.history-image {
  padding: 0 0 30px 30px;
  position: relative;
  z-index: 2; }
  .history-image .history-img {
    max-width: 100%;
    height: auto; }

.total-description {
  margin-top: 40px;
  background: #fff; }

.tab-history {
  padding: 70px 0 30px 0; }

.history-description p {
  color: #777777;
  line-height: 1.5em;
  text-align: left;
  font-size: 14px;
  width: 540px; }

.service-area {
  background: #f3487f; }

.services {
  height: 260px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.services-description {
  height: 260px;
  background: #6f7598;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #fff; }
