/*
 * 
 * Modules > Variables
 * 
 */
.button {
  background: transparent;
  border: 1px solid #eee;
  color: #777777;
  border-radius: 20px;
  line-height: 37px;
  margin: 10px 10px 0 30px;
  padding: 0 25px;
  font-weight: 530;
  position: relative; }
  .button--support {
    color: white;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 20px; }
  .button--active {
    background: #8460f6;
    border: 1px solid #8460f6;
    color: white; }
  .button--default {
    color: #8460f6;
    padding: 12px 20px; }
  .button--send {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    right: 10px;
    text-transform: uppercase;
    border: 1px solid #eee; }
    .button--send span {
      color: #8460f6;
      font-weight: 500; }

@media (min-width: 992px) {
  .button {
    background: transparent;
    border: 1px solid #eee;
    color: #777777;
    border-radius: 20px;
    line-height: 37px;
    margin: 10px 10px 0 30px;
    padding: 0 25px;
    font-weight: 200; }
    .button--support {
      color: white;
      border-radius: 20px;
      line-height: 40px;
      padding: 0 20px; }
    .button--active {
      background: #8460f6;
      border: 1px solid #8460f6;
      color: white; }
    .button--default {
      color: #8460f6;
      padding: 10px 20px; } }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 8px 0; }

input[type=text]:focus {
  background-color: #f3f3f3;
  border: 1px solid #555; }

::-webkit-input-placeholder {
  color: #adadad; }

textarea {
  height: 150px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 8px 0; }

input:-moz-placeholder {
  color: #797979; }

.description-input {
  width: 100%;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  font-weight: 300;
  background: #f9f9ff;
  padding: 0 25px; }

body {
  background: #fff; }

footer {
  background: #4e5375;
  padding: 100px 0; }

.footer-content {
  margin-bottom: 30px; }
  .footer-content h6 {
    margin-bottom: 15px; }
  .footer-content li {
    margin-top: 8px;
    text-decoration: none; }
  .footer-content a {
    color: #fff !important;
    text-decoration: none; }
  .footer-content p {
    margin: 0;
    transition: all 0.1s linear; }
    .footer-content p:hover, .footer-content p:focus {
      color: #8460f6; }

.footer-bottom {
  padding-top: 40px; }
  .footer-bottom .footer-text {
    color: #fff; }
    .footer-bottom .footer-text a {
      color: #f9c400;
      text-decoration: none; }

.footer-nav, .footer-images {
  list-style: none;
  padding: 0; }

.footer-images {
  margin: -5px; }
  .footer-images li {
    width: 25%; }
  .footer-images img {
    margin: 5px; }

.logo-image {
  padding: 18px; }

.header {
  background: url(../img/banner-bg.jpg) no-repeat center center/cover;
  height: 70vh;
  display: block; }
  .header h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px; }
  .header p {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px; }

@media (min-width: 992px) {
  .header {
    height: 100vh; }
    .header h1 {
      font-size: 60px;
      font-weight: 100;
      margin-bottom: 20px; } }

.history-area {
  padding: 100px 0;
  background: #f2f5f7; }

.history-title {
  text-align: center; }
  .history-title h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px; }
  .history-title p {
    font-size: 16px;
    color: #777777; }

.total-description {
  margin-top: 40px;
  background: #fff; }

.tab-history {
  padding: 30px 0 30px 0; }

.history-description h3 {
  margin-top: 30px;
  font-size: 20px; }

.history-description h3, .history-description p {
  padding: 5px 30px; }

.history-description p {
  color: #777777;
  line-height: 1.5em;
  font-size: 14px;
  width: 310px; }

@media (min-width: 992px) {
  .history-description p {
    color: #777777;
    line-height: 1.5em;
    text-align: left;
    font-size: 14px;
    width: 540px; }
  .history-image {
    padding: 0 0 30px 30px;
    position: relative;
    z-index: 2; }
    .history-image .history-img {
      max-width: 100%;
      height: auto; } }

.service-area {
  background: #f3487f; }

.services-title {
  height: 260px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.services-description {
  height: 260px;
  background: #6f7598;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #fff; }

@media (min-width: 992px) {
  .services-description {
    font-size: 14px; } }

.experience-title {
  margin-top: 100px; }
  .experience-title h2 {
    margin-bottom: 30px; }
  .experience-title p {
    margin-bottom: 30px;
    color: #777777; }

.vector-image {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.vector-description {
  margin-left: 30px;
  margin-top: 30px; }
  .vector-description h3 {
    font-size: 32px;
    font-weight: bold; }
  .vector-description h4 {
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 18px; }
  .vector-description p {
    color: #777777; }

.projects-area {
  background: #5dd1e3;
  padding: 100px 0;
  margin-top: 100px; }

.carousel-image {
  height: 100%;
  width: 100%;
  align-items: center; }

.carousel-description {
  background: #fff;
  padding: 100px 50px; }
  .carousel-description h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .carousel-description p {
    margin-top: 0;
    margin-bottom: 1rem; }

@media (min-width: 992px) {
  .carousel-image {
    height: 100%;
    width: 100%; }
  .carousel-description {
    background: #fff;
    padding: 100px 50px; }
    .carousel-description h3 {
      font-size: 20px;
      margin-bottom: 15px; }
    .carousel-description p {
      margin-top: 0;
      margin-bottom: 1rem; } }

.forms-title {
  margin-top: 100px; }
  .forms-title h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  .forms-title p {
    color: #777777;
    font-size: 16px;
    margin-bottom: 40px; }

.subscription-area {
  padding: 100px 0;
  margin-top: 100px;
  background: #f9c400; }

.subscription-title {
  margin-bottom: 50px; }
