.subscription-area {
    padding: 100px 0;
    margin-top: 100px;
    background: #f9c400; 
}
  

@media (min-width: $screen-sm-min) {
}
  
@media (min-width: $screen-md-min) {
}
  
@media (min-width: $screen-lg-min) {
}
  