.projects-area {
  background: #5dd1e3;
  padding: 100px 0;
  margin-top: 100px;
}

.carousel-image {
  height: 100%;
  width: 100%;
  align-items: center;
}

.carousel-description {
  background: #fff;
  padding: 100px 50px;

  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
  .carousel-image {
    height: 100%;
    width: 100%;
  }

  .carousel-description {
    background: #fff;
    padding: 100px 50px;

    h3 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .button-controls {
    position: relative;

    .button-nav {
      position: absolute;
      top: 50%;
      right: -60px;
      transform: translateY(-225px);

      .button-prev, .button-next {
        width: 40px;
        line-height: 2;
        background: white;
        text-align: center;
        margin-bottom: 1px;
        color: #777777;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: white;
          background: #8560f6;
        }
      }

      .button-prev {
        border-radius: 20px 20px 0 0;
      }

      .button-next {
        border-radius: 0 0 20px 20px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
}
