footer {
    background: #4e5375;
    padding: 100px 0;
}

.footer-content {
    margin-bottom: 30px;
    
    .footer-nav {
        text-decoration: none;
    }
}


.footer-bottom {
    padding-top: 40px;

    .footer-text {
        color: #fff;
    }
}

.footer-nav, .footer-images {
    list-style: none;
    padding: 0;
}

.footer-images {
  margin: -5px;
  
  li {
      width: 25%;
  }

  img {
      margin: 5px;
  }
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}
