.header {
  background: black;
  width: 100%;
  .logo-image {
    padding: 18px;
  }
}

.hero {
  background: url(../img/banner-bg.jpg) no-repeat center center/cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: calc(100vh - 61px);
    h1 {
      color: white;
      text-align: center;
      font-size: 40px;
      margin-top: 40px;
      font-weight: 100;
    }
    p {
      color: white;
      font-size: 16px;
      text-align: center;
      margin-bottom: 60px;
    }
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
  .header {
    background: black;
    height: 61px;
    width: 100%;
    &__main {
      height: 61px;
      &--fixed {
        position: fixed;
        width: 100%;
        transition: ease-out 0.4s;
        background: #000;
        z-index: 3;
      }
    }
  }
  .hero {
    justify-content: center;
    align-items: center;
    display: flex;
    height: calc(100vh - 61px);
    h1 {
      font-size: 60px;
      font-weight: 100;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: $screen-lg-min) {
}
