.header {
  background: black;
  width: 100%;

  .hide {
    transform: scale(0);
  }

  .nav-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    .menu {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 24px;
      height: 61px;
      position: relative;

      .box-hamburguer {
        height: 61px;
        display: flex;
        align-items: center;
        height: 30px;
        width: 30px;

        .hamburguer {
          background: #fff;
          border-radius: 10px;
          height: 2px;
          position: relative;
          transition: all .2s;
          width: 30px;
          margin-bottom: 21px;

          &::before, &::after {
            content: '';
            background: #fff;
            border-radius: 10px;
            height: 100%;
            position: absolute;
            transition: all .2s;
            width: 100%;
          }

          &::before {
            top: 400%;
          }

          &::after {
            top: 800%;
          }

          &.active {
            transform: translate3d(0, 10px, 0) rotate(45deg);

            &::before {
              opacity: 0;
              transform: translate3d(-10px,2px,0) rotate(-45deg);
            }

            &::after {
              transform: translate3d(0, -16px, 0) rotate(-90deg);
            }
          }
        }
      }
    }
  }
}

.hero {
  align-items: center;
  background: url(../img/banner-bg.jpg) no-repeat center center/cover;
  display: flex;
  height: calc(100vh - 61px);
  justify-content: center;

  h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin-top: 40px;
    text-align: center;
  }

  p {
    color: white;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
  }

  a {
    color: white;

    .span {
      margin-right: 10px;
    }
  }
}

@media (max-width: $screen-sml-max) {
  .header {
    nav {
      background: #8460f6;
      display: flex;
      flex-direction: column;
      margin-right: 0;
      padding: 20px 20px;
      position: absolute;
      right: 0;
      text-align: right;
      top: 57px;
      transition: all 0.3s;
      z-index: 5;

      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: #f3487f;
          transition: all .3s;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .header {
    nav {
      margin: 0 70px;
      position: relative;
      transform-origin: 100% 50%;
      transition: all 0.3s;

      a {
        color: #fff;
        margin-left: 40px;
        text-decoration: none;

        &:hover {
          color: #f3487f;
          transition: all .3s;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .header {
    background: black;
    height: 61px;
    width: 100%;

    &__main {
      height: 61px;

      &--fixed {
        background: #000;
        position: fixed;
        transition: ease-out 0.4s;
        width: 100%;
        z-index: 3;
      }
    }

    nav {
      margin: 0 70px;
      position: relative;
      transform-origin: 100% 50%;
      transition: all 0.3s;

      a {
        color: #fff;
        font-size: 12px;
        margin-left: 40px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: #f3487f;
          transition: all .3s;
        }
      }
    }
}
  .hero {
    align-items: center;
    display: flex;
    height: calc(100vh - 61px);
    justify-content: center;

    h1 {
      font-size: 60px;
      font-weight: 100;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }

    a {
      color: white;

      .span {
        transition: all .3s;
      }

      i {
        margin: auto;
      }

      &:hover .span{
        padding-right: 10px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
}
