.history-area {
  padding: 100px 0;
  background: #f2f5f7;
}

.history-title {
  text-align: center;

  h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px; 
    color: #777777;
  }
}


.total-description {
  margin-top: 40px;
  background: #fff;
}

.tab-history {
  padding: 30px 0 30px 0;
}

.history-description {
  h3 {
    margin-top: 30px;
    font-size: 20px;
  }

  h3, p {
    padding: 5px 30px;
  } 

  p {
    color: #777777;
    line-height: 1.5em;
    font-size: 14px;   
    width: 310px;
  }
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
  .history-description {
    p {
       color: #777777;
       line-height: 1.5em;
       text-align: left;
       font-size: 14px;
       width: 540px;
     }
 }

  .history-image {
    padding: 0 0 30px 30px;
    position: relative;
    z-index: 2;

    .history-img {
      max-width: 100%;
      height: auto;
    }
  }

}

@media (min-width: $screen-lg-min) {
}
